{% load wagtailcore_tags navigation_tags wagtailuserbar %}


{% get_site_root as site_root %}
<nav class="top-navbar">
    <div class="logo">
      <a href="{% pageurl site_root %}">
        <img class="ui image" src="../../media/images/martini-glass.png" alt="Y" />
        OLO
      </a>
    </div>
    <div class="menu">
      <p>
        {% for menuitem in site_root.get_children.live.in_menu %}

            {# Add the child pages of your HomePage that have their `Show in menu` checked #}
            <a href="{% pageurl menuitem %}">{{ menuitem.title }}</a>{% if not forloop.last %} | {% endif %}
            {% endfor %}
        
            {% if request.user.is_authenticated %}
            <a href="/accounts/logout">Logout</a>
            <a href="/cocktails/add">Add Cocktail</a>
            {% else %}
            <a href="/accounts/login">Login</a>
            {% endif %}
        </p>
    </div>
  </nav>

{# Add wagtailuserbar: #}
{% comment %} {% wagtailuserbar "top-right" %} {% endcomment %}